
@model gestion_de_stock.Models.Produit

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center">
    <div class="col-lg-6">
        <h1 class="display-4 mb-4">Modifier un Produit</h1>
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="IdProduit" class="form-label">ID du produit</label>
                <input readonly asp-for="IdProduit" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="NomProduit" class="form-label">Nom du produit</label>
                <input asp-for="NomProduit" class="form-control" required />
                <div class="invalid-feedback">
                    Donner le nom du produit
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="PrixUnit" class="form-label">Prix</label>
                <input asp-for="PrixUnit" class="form-control" required />
                <div class="invalid-feedback">
                    Donner le prix du produit
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Categorie" class="form-label">Catégorie</label>
                <input asp-for="Categorie" class="form-control" required />
                <div class="invalid-feedback">
                    Donner la catégorie du produit
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Quantite" class="form-label">Quantité</label>
                <input asp-for="Quantite" class="form-control" rows="3" required/>
                <div class="invalid-feedback">
                    Donner la quantité du produit
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer</button>

            <a asp-action="Index" class="btn btn-secondary ms-2">Retour à la liste</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .form-label {
        font-weight: bold;
        font-size: 1.1rem;
    }

    textarea {
        resize: none;
    }
</style>
